
.link {
    padding: 10px 16px ;
    font-family: 'Orelega One',serif;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: var(--black);
}

.link:hover {
   color: 	#8A2BE2
}






