.img {
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform .5s ease-out,-webkit-transform .5s ease-out;

}
.wrapper{
    position: relative;
    border: 5px solid #666666;
    border-radius: 50%;

}

.wrapper:nth-child(1),.wrapper:nth-child(5),.wrapper:nth-child(9) {
    border-color:  red;
}


  @media (max-width: 900px) {
      .wrapper:nth-child(1),.wrapper:nth-child(3),.wrapper:nth-child(5),.wrapper:nth-child(7),.wrapper:nth-child(9),.wrapper:nth-child(11) {
          border-color:  red;
      }
  }
.wrapper:hover{
       border-color: yellow;
      }
.wrapper:hover .img {
    transform: rotate(45deg);
    transition: transform .5s ease-out,-webkit-transform .5s ease-out;

}