.button {
    padding: 14px 23px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    border: none;
    font-family: 'Orelega One',serif;

}


.longButton:after {
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;
    vertical-align: middle;
    content: "⟶";
    transition: transform .3s ease-out;

}
.longButton:hover:after{
    transform: translateX(4px);

}

@media (max-width: 800px) {
    .button {
        padding: 5px 10px;
    }
}